body {
    font-family: 'Arial', sans-serif;
    background-color: #e6e6fa;
    color: #ff66b2; /* Pink */
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffdab9; /* Peach Puff */
    border-radius: 10px; /* Rounded corners for a nice look */
    padding: 20px; /* Add some padding for space around the content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */

}

.cake-image {
    width: 150px; /* Adjust the width as needed */
    border-radius: 50%; /* Make the image round (for a cake-like appearance) */
    margin-bottom: 10px;
    animation: rotateCake 4s infinite linear; /* Animation for rotating the cake */
}

@keyframes rotateCake {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1, h2, p {
    margin: 10px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

p {
    font-size: 1.5em;
}
